<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row" style ="background-color: rgb(37, 76, 228);">
            <p class="mx-auto" style="font-size: medium; color: blue;">
            <div class="col-12 jumbotron mb-3 team-heading;" style="color: blue;">
                <h1 class="text-center">My Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-area col-12 d-flex justify-content-center"> </div>
        </div>
    </div>
</body>

<div class="card m-3 " style="width: 20rem;">
    <div class="card-header text-white bg-primary">
        <h3>Emilee Reiter</h3>
        <h5>Engineer</h5>
    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 14px;">ID: 1</li>
            <li class="list-group-item" style="font-size: 14px;">Email: emileejo@yahoo.com</li>
            <li class="list-group-item" style="font-size: 14px;">GitHub: emileereiter</li>
        </ul>
    </div>
    
</div>
<div class="card m-3 " style="width: 20rem;">
    <div class="card-header text-white bg-primary">
        <h3>Ryan Smith</h3>
        <h5>Intern</h5>
    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 14px;">ID: 2</li>
            <li class="list-group-item" style="font-size: 14px;">Email: roadrunner@gmail.com</li>
            <li class="list-group-item" style="font-size: 14px;">GitHub: RyanSmith25</li>
        </ul>
    </div>
    <div class="card m-3 " style="width: 20rem;">
        <div class="card-header text-white bg-primary">
            <h3>Zak Wesen</h3>
            <h5>Manager</h5>
        </div>
    <div class="card-body bg-light text-dark">
            <ul class="list-group">
                <li class="list-group-item" style="font-size: 14px;">ID: 3</li>
                <li class="list-group-item" style="font-size: 14px;">Email: ZakWesen720@gmail.com</li>
                <li class="list-group-item" style="font-size: 14px;">GitHub: ZakWesen720</li>
            </ul>
    </div>
        
    </div>
    
    
</div>

                
<div class="col-md-2"></div>

        

    
</body>
</html>


